Call.Cloud.Mvc/Service References/ServiceBusiness/BusinessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="business" nillable="true" type="tns:business" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbusiness" nillable="true" type="tns:ArrayOfbusiness" />
  <xs:complexType name="business">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessKey" type="xs:int" />
      <xs:element minOccurs="0" name="NameBusines" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="business" nillable="true" type="tns:business" />
</xs:schema>